.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.card {
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px #00000094;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0px 0px 3px 0px #000000;
}
.card h3 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: #09c8f8;
}
.card p {
  padding: 10px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 776px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
